extends layout

block content

    if user
        h3 Welcome #{user.username}
        form(method='post')
            input(placeholder='Message title' name='title')
            textarea(placeholder='Your message' name='message')
            button.btn(type='submit') Post
    