doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    body
        nav
            h1
                a(href='/') Members Only
            if !user
                div.row
                    a.btn(href='/sign-in') Sign in
                    a.btn(href='/sign-up') Sign up
            else
                a.btn(href='/sign-out') Sign out
        block content
